{{template "base" .}}

{{define "title"}}
{{end}}

{{define "main"}}
{{end}}

<!DOCTYPE html>
<html>
<head>
<style>
table, th{
  border: 1px solid black;
  height: 27px;
}

</style>
</head>
<body>
<link href='/static/css/style.css' rel="stylesheet" type="text/css">

<div><h1 class="inline">Trade Wars!</h1><p class="inline" style="color: whitesmoke; border: 1px solid whitesmoke">~ Status Message ~</p></div>

<table style="width:65%;">
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th> 
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th> 
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
</table>
</body>
</html>

