{{template "base" .}}

{{define "title"}}
{{end}}

{{define "main"}}
{{end}}

<!DOCTYPE html>
<html>
<body>

<link href='/static/css/style.css' rel="stylesheet" type='text/css'>
<script src="/static/js/style.js">
</script>

<div>
  <h1 class="inline">Trade Wars!</h1><p class="inline" style="color: black;">{{.Callsign}}</p>
</div>
<p>
<div>
<div class="cargo" style="width: 20%; float: right; height: 20%; border: 1px solid whitesmoke"><h2>Cargo</h2>
<div class="smaller_text">
<p>Chakan Oil: 2 drums</p>
<p style="color: whitesmoke;">Fellip Nectar: 3 cases</p>
<p>Raz'lak: 2 bottles</p>
</div>
</div>

<div>
<table align="left" float="left;">
  <tr>
    <th><img src="/static/img/spaceship.png" alt="spaceship" align="center" style="width:65px;height:65px;"></th>
    <th> <br></th> 
    <th> <br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
    <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
    <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
</table>
</div>
</div>  

<div class="directions">
<p>
<button type="button" class="button" onclick="goDirection(this)" id="up">Up</button>
</p><p>
<button type="button" class="button" onclick="goDirection(this)" id="right">Right</button>
</p><p>
<button type="button" class="button" onclick="goDirection(this)" id="left">Left</button>
</p><p>
<button type="button" class="button" onclick="goDirection(this)" id="down">Down</button>
</p>
<p id="demo"></p>
</div>

</p>
</body>
</html>