{{template "base" .}}

{{define "title"}}
{{end}}

{{define "main"}}
{{end}}

<!DOCTYPE html>
<html>
<head>
<style>
table, th{
  border: 1px solid black;
  height: 27px;
}

</style>
</head>
<body>
<link href='/static/css/style.css' rel="stylesheet" type="text/css">

<div>
  <h1 class="inline">Trade Wars!</h1><p class="inline" style="color: black; border: 1px solid whitesmoke">{{.Callsign}}</p>
</div>
<p>
<div>
<div class="cargo" style="width: 20%; float: right; height: 20%; border: 1px solid whitesmoke"><h2>Cargo</h2>
<div class="smaller_text">
<p>Chakan Oil: 2 drums</p>
<p style="color: whitesmoke;">Fellip Nectar: 3 cases</p>
<p>Raz'lak: 2 bottles</p>
</div>
</div>
<div>
<table align="left" float="left;" style="width:65%;">
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th> 
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th> 
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
  <tr>
    <th><br></th>
    <th><br></th> 
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
    <th><br></th>
  </tr>
</table>
</div>
</div>

</p>
</body>
</html>