<!DOCTYPE html>


<head>
    <title>Trade Wars!</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1 style="text-align: center; font-size: 70px;">Trade Wars!</h1>
    <p><center><img src="/static/parrot.png" alt="Neon flamingo in a santa hat"></center></p>
    <p class="username" style="text-align: center;">Name</p>
    <input class="textbox" type="text" name="fname"><br>
    <div style="text-align: center;">
        <button style="text-align: center;" onclick="window.location.href = 'grid.html' ; ">Launch</button>
    </div>
</body>