@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body {
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 2px #FF1493, 0 0 25px #FF1493, 0 0 5px #FF1493;
}

td, tr {
    border-color: whitesmoke;
    height: 20%;
    width: 20%;
}


.inline {
    display: inline;

    margin-right: 25%;
}

body {
    background-image: url(/static/img/starsbackground.jpg);
}

.username {
    font-size: 200%;
}

.cargo {
    text-align: center;
    float: right;
    width: 30px;
    color: black;
}

/* .smaller_text {
    color: FF1493;
    text-shadow: none;
} */